<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../css/gxEcharts.css">
</head>
<body class="echartsBody">

<div class="echartsFluid">

  <div class="echartsRow">
    <div class="echartsCol4">
      <div class="echartsBox">
        <div class="echartsList" id="echarts_pjgz"></div>
      </div>
    </div>
  </div>

</div>

<script src="../js/jquery.min.js"></script>
<script src="../js/echarts.min.js"></script>
<script src="../js/gxEcharts.js"></script>
<script>
  $.getJSON("../data/lines.json",function(data){
    //惯导系统平均故障规律统计图
    $("#echarts_pjgz").echartLines(data[0]);
  })
</script>
</body>
</html>